@charset "UTF-8";
*, *:after, *:before {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  line-height: 1.67;
}

.title {
  font-size: 1.8rem;
  color: #707070;
  letter-spacing: 5.4px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title:after {
  display: inline-block;
  content: "";
  border-top: 1px solid;
  width: 100px;
  margin-left: 23px;
  color: #707070;
}

.inner {
  padding: 250px 0 70px;
  margin: 0 auto;
  width: 85vw;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 68px 0 0 77px;
  position: absolute;
  z-index: 10;
}

@media screen and (max-width: 959px) {
  header {
    padding: 30px 30px;
    justify-content: space-between;
    width: 100%;
  }
}

.salon-logo {
  font-size: 3.8rem;
  letter-spacing: 3.8px;
}

@media screen and (max-width: 959px) {
  nav {
    display: none;
  }
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #707070;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  color: black;
  text-decoration: underline;
  margin-left: none;
}

.pc-navmenu {
  font-size: 1.8rem;
  width: 30%;
  letter-spacing: 1.8px;
}

.ham {
  display: none;
}

@media screen and (max-width: 959px) {
  .ham {
    width: 25px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ham span {
    width: 100%;
    height: 1px;
    background-color: white;
    display: inline-block;
  }
}

.first-v {
  height: 800px;
  position: relative;
}

.first-v_img {
  position: absolute;
  background-image: url(../img/photo.png);
  height: 100%;
  background-size: cover;
  width: 53%;
  right: 0;
  top: 0;
}

.first-v_wrap {
  position: absolute;
  font-size: 3.8rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 296px;
  left: 163px;
  text-align: center;
}

@media screen and (max-width: 959px) {
  .first-v_wrap {
    padding: 0;
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 10;
  }
}

.first-v_wrap .catch {
  margin-bottom: 90px;
  letter-spacing: 3.8px;
  font-family: "ヒラギノ明朝 Pro";
}

.first-v_wrap .catch-en {
  margin-left: -56px;
  letter-spacing: 3.8px;
  font-family: "Zapfino";
}

.concept {
  background: linear-gradient(180deg, #A193861F 0%, #A193861F 38%, #A1938689 38%, #A1938689 100%);
}

.concept-img {
  justify-content: space-between;
  display: flex;
  height: 410px;
}

@media screen and (max-width: 959px) {
  .concept-img {
    height: 210px;
  }
}

.concept-img_1 {
  background-image: url(../img/photo-1.png);
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: left 78% center;
}

@media screen and (max-width: 959px) {
  .concept-img_1 {
    width: 49%;
  }
}

.concept-img_2 {
  background-image: url(../img/photo-2.png);
  width: 38%;
  height: 100%;
  background-size: cover;
  background-position: right 13% top 30%;
}

@media screen and (max-width: 959px) {
  .concept-img_2 {
    width: 49%;
  }
}

.concept-wrap {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 70px 7% 0 6%;
}

@media screen and (max-width: 959px) {
  .concept-wrap {
    flex-direction: column;
    padding: 0;
  }
}

.concept-catch {
  font-size: 4rem;
  font-family: "ヒラギノ明朝 Pro";
  width: 445px;
  letter-spacing: 16px;
  min-width: 400px;
  margin-top: 20px;
}

@media screen and (max-width: 959px) {
  .concept-catch {
    width: 100%;
    text-align: center;
  }
}

.concept-text {
  font-size: 1.6rem;
  line-height: 1.6;
  width: 34vw;
  letter-spacing: 1.6px;
  min-width: 360px;
}

@media screen and (max-width: 959px) {
  .concept-text {
    width: 100%;
    margin-top: 30px;
  }
}

.menu-wrap {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 959px) {
  .menu-wrap {
    flex-direction: column;
  }
}

.menu-item {
  width: 25%;
}

@media screen and (max-width: 959px) {
  .menu-item {
    width: 100%;
    text-align: center;
  }
}

.menu-item_img {
  overflow: hidden;
}

.menu-item_desc {
  font-size: 1.6rem;
  padding: 0 10px;
  letter-spacing: 1.6px;
}

@media screen and (max-width: 959px) {
  .menu-item_desc {
    padding: 0 10% 60px;
  }
}

.menu-item h3 {
  margin: 35px 0;
  font-size: 3rem;
  text-align: center;
  min-width: 225px;
  letter-spacing: 3px;
}

.menu-item p {
  line-height: 1.6;
}

.menu-item h4 {
  text-align: right;
  margin-top: 35px;
}

.access {
  background: linear-gradient(180deg, #A193861F 0%, #A193861F 37%, #D0C5BA 37%, #D0C5BA 91%, #A193861F 91%, #A193861F 100%);
  position: relative;
}

.access-wrap {
  display: flex;
}

@media screen and (max-width: 959px) {
  .access-wrap {
    flex-direction: column;
    flex-flow: column-reverse;
  }
}

.access-desc {
  margin: 100px 0;
}

@media screen and (max-width: 959px) {
  .access-desc {
    margin: 30px 0 60px;
  }
}

.access-desc h2 {
  font-size: 2.4rem;
  color: #00000038;
  letter-spacing: 2.4px;
  font-weight: bold;
}

.access-desc .access-first {
  margin-top: 30px;
  letter-spacing: 1.6px;
}

.access-desc p {
  margin-top: 23px;
  color: white;
  font-size: 1.6rem;
  letter-spacing: 1.6px;
}

.map {
  position: absolute;
  top: 37%;
  right: 0%;
}

@media screen and (max-width: 959px) {
  .map {
    position: static;
  }
}

.map-1 {
  width: 60vw;
  height: 396.5px;
}

@media screen and (max-width: 959px) {
  .map-1 {
    width: 100%;
  }
}

.footer-border {
  display: inline-block;
  content: "";
  border-top: 1px solid;
  width: 100%;
  color: #70707036;
  margin-bottom: 83.5px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 959px) {
  .footer-wrap {
    flex-direction: column;
  }
}

.footer-wrap_logo {
  display: flex;
  align-items: center;
}

.footer-wrap h2 {
  font-size: 3.2rem;
  color: #7070704D;
  letter-spacing: 3.2px;
}

.footer-wrap span:first-child {
  font-size: 20ox;
  margin-left: 26px;
}

.footer-wrap span {
  font-size: 20px;
  margin-left: 10px;
}

.footer-wrap button {
  color: #707070;
  border: 1px solid #707070;
  width: 184px;
  height: 37px;
  font-size: 1.8rem;
  letter-spacing: 1.8px;
  background-color: white;
}

@media screen and (max-width: 959px) {
  .footer-wrap button {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=main.css.map */